<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.jimmyshaw.dropbucketlist">

    <application
        android:name=".AppDropBucketList"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--
            A service's attribute called exported asks whether or not this particular service can
            can be used by any other app besides the one where it resides. We put false because no
            other app is allowed to use this service.
        -->
        <service
            android:name=".services.NotificationService"
            android:exported="false">
        </service>

        <receiver
            android:name=".receivers.BootupReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>